<div class="container">
    <br />
    <h2 align="center">GEMS Registration</h2>
    <table class="table table-bordered table-condensed table-striped">
        <thead>
            <tr>
                <th>
                    <h4>Menu</h4>
                    <h6>Select link below to view information</h6>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a asp-action="Index" asp-controller="Participant">Participant Information</a></td>
            </tr>
            <tr>
                <td><a asp-action="Index" asp-controller="Facilitator"> Facilitator Information</a></td>
            </tr>
            <tr>
                <td><a asp-action="Index" asp-controller="Workshop"> Workshop Information</a></td>
            </tr>
            <tr>
                <td><a asp-action="Index" asp-controller="Location"> Location Information</a></td>
            </tr>
            <tr>
                <td><a asp-action="Index" asp-controller="Attendee"> Attendee Information</a></td>
            </tr>
        </tbody>
    </table>
    <div><p align="center">Angelia Bendolph<br />May 7, 2020 </p></div>

</div>

