@model GEMSRegistration.Models.Location

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 align="center">GEMS Registration</h3>
<h4 align="center">Add A Location</h4>

<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="LocationName" class="control-label"></label>
                    <input asp-for="LocationName" class="form-control" />
                    <span asp-validation-for="LocationName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <div><p align="center">Angelia Bendolph<br />May 7, 2020 </p></div>

</div>