@model GEMSRegistration.Models.Participant

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 align="center"> GEMS Registration</h3>
<h4 align="center">Add A Participant</h4>

<br />
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FName" class="control-label"></label>
                    <input asp-for="FName" class="form-control" />
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LName" class="control-label"></label>
                    <input asp-for="LName" class="form-control" />
                    <span asp-validation-for="LName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactFName" class="control-label"></label>
                    <input asp-for="ContactFName" class="form-control" />
                    <span asp-validation-for="ContactFName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactLName" class="control-label"></label>
                    <input asp-for="ContactLName" class="form-control" />
                    <span asp-validation-for="ContactLName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegistrationDate" class="control-label"></label>
                    <input asp-for="RegistrationDate" class="form-control" />
                    <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div><p align="center">Angelia Bendolph<br />May 7, 2020 </p></div>

</div>
