@model GEMSRegistration.Models.Attendee

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 align="center"> GEMS Registration</h3>
<h4 align="center">Create An Attendee</h4>

<hr />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WorkshopID" class="control-label"></label>
                    <select asp-for="WorkshopID" class="form-control" asp-items="ViewBag.WorkshopID"><option>Select A Workshop</option></select>
                </div>
                <div class="form-group">
                    <label asp-for="LocationID" class="control-label"></label>
                    <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"><option>Select A Location</option></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <div><p align="center">Angelia Bendolph<br />May 7, 2020 </p></div>
</div>

